#myCanvas {
  border: 2px solid red;
  background-color:black;
  padding: 0;
  margin: auto;
    display: block;
    top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

html {
  background-image: url(assets/images/bg.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;

}

.fps{
  color: white;
}